[Unit]
Description=Run_the_ipcam_capture_program
Wants=network.target
After=syslog.target network-online.target
OnFailure=notify@%n.service

[Service]
Type=simple
ExecStart=/home/pi/venv/ipcam/bin/python3 \
    --process /home/pi/git/ipcam/src/forever.py \
    --config /home/pi/git/ipcam/config/config.json
Restart=on-failure
RestartSec=10s
KillMode=process

[Install]
WantedBy=multi-user.target
