[Unit]
Description=Run_the_program
Wants=network.target
After=syslog.target network-online.target
OnFailure=notify@%n.service

[Service]
Type=simple
ExecStart=/path/to/python          \
    /path/to/ipcam/src/forever.py              \
    --process /path/to/ipcam/src/ipcam.py      \
    --config /path/to/ipcam/config/config.json
Restart=on-failure
RestartSec=10s
KillMode=process

[Install]
WantedBy=multi-user.target
